body{
  background-color: rgb(244, 246, 249);
}
.btn1 {
  background-color: rgb(48, 206, 10);
 color: white;
}

.btn2 {
  background-color: rgb(254, 30, 70);
  color: white;

}
.navbar{
background-color: white !important; 
}


.currency-item:hover {
  background-color: #0078f0;
  cursor: pointer;
}
.dark{
  background-color: #1d2424a9 !important;
  color: #fff ; 
}
.light{
  background-color: white !important;
}